.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.notfound-content {
  position: relative;
}

.notfound-number {
  font-size: 8rem;
  line-height: 0.8;
  opacity: 0.2;
}

.notfound-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -20%);
}

.notfound-text h2 {
  font-weight: 900;
  font-size: 1.75rem;
}

.notfound-text p {
  margin-top: 0.5rem;
  /* font-weight: 100; */
}

.notfound-text a {
  margin-top: 2rem;
}
