.navbar-container {
  position: relative;
  background: var(--clr-main-600);
  height: 100vh;
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  z-index: 1000;
  padding: 0.5rem 1rem;
  /* max-width: 1440px; */
  /* margin: auto; */
  box-shadow: 0 0 5px var(--clr-main-600);
  /* display: flex; */
  justify-content: center;
  z-index: 1000;
  box-shadow: 0px 0 16px #fff2;
  transition: var(--transition-100);
}

.navbar-text {
  width: 100%;
  transition: var(--transition-100);
}

.shrinked {
  width: 100px;
  min-width: 100px;
}

.shrinked a,
.shrinked a::before,
.shrinked a::after {
  line-height: 1;
  border-radius: 50% !important;
}

.shrinked .navbar-text {
  transition: var(--transition-100);
  font-size: 0 !important;
}

.ham-burger-container {
  display: block;
  position: absolute;
  top: 1.5rem;
  right: 0;
  background: var(--clr-main-600);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 1rem;
  transform: translate(60%, 100%);
  transition: var(--transition-100);
  box-shadow: 10px 0px 16px -6px #fff3;
  z-index: -1;
}

.ham-burger-container:hover span,
.ham-burger-container:focus-within span {
  width: 80%;
  transition: var(--transition-100);
}

.shrinked .ham-burger-container .ham-burger span {
  left: 0;
  width: 0% !important;
}

.shrinked .ham-burger-container .ham-burger::before {
  width: 70%;
  transform: rotate(45deg) translate(7px, -4px) !important;
}
.shrinked .ham-burger-container .ham-burger::after {
  width: 70%;
  transform: rotate(-45deg) translate(7px, 4px) !important;
}

.ham-burger {
  position: relative;
  width: 25px;
  height: 20px;
}

.ham-burger span,
.ham-burger::before,
.ham-burger::after {
  transition: var(--transition-100);
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 10px;
}

.ham-burger::before {
  top: 0;
}

.ham-burger span {
  width: 60%;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.ham-burger::after {
  bottom: 0;
}

.brand-container {
  width: fit-content;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: auto;
  padding: 1.25rem 1rem;
}

.brand-icon {
  width: 44px;
  height: 44px;
  max-width: 100%;
  max-height: 100%;
}

.brand-icon img {
  max-width: 100%;
  max-height: 100%;
}

.navbar-content {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
}

.navbar-content a {
  text-align: left;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* gap: 1rem; */
  height: 68px;
  flex-wrap: nowrap;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  color: var(--clr-font);
  text-decoration: none;
  border-radius: var(--border-radius-500);
  z-index: 1001;
}

.navbar-container.shrinked a {
  animation: navLinkShrink 0.3s ease forwards;
}

.navbar-content a svg {
  font-size: 1.25rem;
  /* margin: auto; */
  /* margin-right: 0.5rem; */
  transform: translate(-10%, -10%);
}

/* .navbar-container.shrinked a svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

@keyframes navLinkShrink {
  0% {
    aspect-ratio: auto;
  }
  95% {
    aspect-ratio: auto;
  }
  100% {
    aspect-ratio: 1/1;
  }
}

.navbar-content a span {
  margin-left: 0.5rem;
}
.navbar-content a::before {
  content: "";
  height: 0;
  bottom: 0;
  z-index: -1;
  border-radius: var(--border-radius-500);
  transition: var(--transition-100);
}
.navbar-content a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(-50%, 0);
  transition: var(--transition-100);
  background: transparent;
  border-radius: var(--border-radius-500);
  border-bottom: 5px solid red;
  border-width: 0;
}

.navbar-content a:hover:after {
  border-width: 5px;
}

.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100% !important;
  width: 100%;
  border-radius: var(--border-radius-100);
  background-color: rgba(255, 0, 0, 0.5);
}

@media screen and (max-width: 610px) {
  .navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    /* transform: translate(-100%, 0); */
  }

  .navbar-container.shrinked {
    box-shadow: none;
    transform: translate(-100%, 0);
  }
}
