.navbar-container {
  position: relative;
  background: var(--clr-main-600);
  height: 100vh;
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  z-index: 1000;
  padding: 0.5rem 1rem;
  /* max-width: 1440px; */
  /* margin: auto; */
  box-shadow: 0 0 5px var(--clr-main-600);
  /* display: flex; */
  justify-content: center;
}

.ham-burger-container {
  position: absolute;
  top: 1.5rem;
  right: 0;
  transition: var(--transition-100);
}

.ham-burger-container:hover span,
.ham-burger-container:focus-within span {
  width: 70%;
  transition: var(--transition-100);
}

.ham-burger {
  position: relative;
  width: 25px;
  height: 20px;
}

.ham-burger span,
.ham-burger::before,
.ham-burger::after {
  transition: var(--transition-100);
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
}

.ham-burger::before {
  top: 0;
}

.ham-burger span {
  width: 60%;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.ham-burger::after {
  bottom: 0;
}

.brand-container {
  width: fit-content;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: auto;
  padding: 0.5rem 1rem;
}

.brand-icon {
  width: 44px;
  height: 44px;
  max-width: 100%;
  max-height: 100%;
}

.brand-icon img {
  max-width: 100%;
  max-height: 100%;
}

.navbar-content {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
}

.navbar-content a {
  text-align: left;
  position: relative;
  display: block;
  /* height: 100%; */
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  color: var(--clr-font);
  text-decoration: none;
  border-radius: var(--border-radius-500);
  z-index: 1001;
}

.navbar-content a svg {
  font-size: 1.25rem;
  margin: auto;
  margin-right: 0.5rem;
}

.navbar-content a::before {
  content: "";
  height: 0;
  bottom: 0;
  z-index: -1;
  transition: var(--transition-100);
}
.navbar-content a::after {
  content: "";
  width: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
}

.navbar-content a:hover:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  height: 3px;
  background: red;
  border-radius: var(--border-radius-500);
}

.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100% !important;
  width: 100%;
  border-radius: var(--border-radius-500);
  background-color: rgba(255, 0, 0, 0.5);
}
