*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --clr-main: #282c34;
  --clr-main-600: #23272e;
  --clr-font-main: #fff;
  --border-radius-500: 5px;
  --transition-100: all 0.3s ease-in-out;
  --transition-500: all 0.7s ease-out;
  --transition-900: all 1s ease-out;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--clr-main);
  color: var(--clr-font-main);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
